<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Movies', root_path, class:"navbar-brand"%>
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>          
</nav>

